@font-face {
	font-family: "koverwatch";
	src: url("../font/koverwatch.ttf") format("truetype");
}

body {
	background: #242424;
	font-family: "koverwatch";
	color: #fff;
}

th{
	text-align: center;
	font-size: 2em;
	width: 16%;
}

.section{
	height: 100vh;
	margin-top: 30px;
}

.header-container{
  background-color: #242424;
}

.main-logo{
	padding: 0;
	text-align: center;
}

.nav-row{
	z-index: 2;
}

nav #menu{
	z-index: 1;
display: inline-block;

}

#menu li{
	display: inline-block
}

.main-logo{
	width: 100%;
}

.btn-menu{
	background-color: #f89e19;
	color: #242424;
	font-weight: 700;
}

.game-section{
	text-align: center;
	overflow: auto;
}

form{
	font-size: 2em;
}

input{
width: 90%;
}

#add-game-btn{
	padding-top: 10px;
	width: 50%;
}